{
    "openapi": "3.0.1",
    "info": {
        "title": "Commerce Layer Provisioning API",
        "version": "1.0.14",
        "contact": {
            "name": "API Support",
            "url": "https://commercelayer.io",
            "email": "support@commercelayer.io"
        },
        "description": "Headless Commerce for Global Brands."
    },
    "servers": [
        {
            "url": "https://provisioning.commercelayer.io",
            "description": "Commerce Layer Provisioning API"
        },
        {
            "url": "https://docs.commercelayer.io/provisioning-api",
            "description": "API reference"
        }
    ],
    "paths": {
        "/api_credentials": {
            "post": {
                "operationId": "POST/api_credentials",
                "summary": "Creates an API credential",
                "description": "Creates an API credential",
                "tags": [
                    "api_credentials"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/apiCredentialCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created API credential object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiCredentialResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/api_credentials",
                "summary": "List all API credentials",
                "description": "List all API credentials",
                "tags": [
                    "api_credentials"
                ],
                "responses": {
                    "200": {
                        "description": "A list of API credential objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiCredentialResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api_credentials/{apiCredentialId}": {
            "get": {
                "operationId": "GET/api_credentials/apiCredentialId",
                "summary": "Retrieve an API credential",
                "description": "Retrieve an API credential",
                "parameters": [
                    {
                        "name": "apiCredentialId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "api_credentials"
                ],
                "responses": {
                    "200": {
                        "description": "The API credential object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiCredentialResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/api_credentials/apiCredentialId",
                "summary": "Updates an API credential",
                "description": "Updates an API credential",
                "tags": [
                    "api_credentials"
                ],
                "parameters": [
                    {
                        "name": "apiCredentialId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/apiCredentialUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated API credential object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/apiCredentialResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/api_credentials/apiCredentialId",
                "summary": "Delete an API credential",
                "description": "Delete an API credential",
                "tags": [
                    "api_credentials"
                ],
                "parameters": [
                    {
                        "name": "apiCredentialId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/api_credentials/{apiCredentialId}/organization": {
            "get": {
                "operationId": "GET/apiCredentialId/organization",
                "summary": "Related API credential",
                "description": "Related API credential",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "apiCredentialId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the API credential"
                    }
                }
            }
        },
        "/api_credentials/{apiCredentialId}/role": {
            "get": {
                "operationId": "GET/apiCredentialId/role",
                "summary": "Related API credential",
                "description": "Related API credential",
                "tags": [
                    "roles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "apiCredentialId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The role associated to the API credential"
                    }
                }
            }
        },
        "/application_memberships": {
            "post": {
                "operationId": "POST/application_memberships",
                "summary": "Creates an application membership",
                "description": "Creates an application membership",
                "tags": [
                    "application_memberships"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/applicationMembershipCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created application membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationMembershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/application_memberships",
                "summary": "List all application memberships",
                "description": "List all application memberships",
                "tags": [
                    "application_memberships"
                ],
                "responses": {
                    "200": {
                        "description": "A list of application membership objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationMembershipResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}": {
            "get": {
                "operationId": "GET/application_memberships/applicationMembershipId",
                "summary": "Retrieve an application membership",
                "description": "Retrieve an application membership",
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "application_memberships"
                ],
                "responses": {
                    "200": {
                        "description": "The application membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationMembershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/application_memberships/applicationMembershipId",
                "summary": "Updates an application membership",
                "description": "Updates an application membership",
                "tags": [
                    "application_memberships"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/applicationMembershipUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated application membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationMembershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/application_memberships/applicationMembershipId",
                "summary": "Delete an application membership",
                "description": "Delete an application membership",
                "tags": [
                    "application_memberships"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}/api_credential": {
            "get": {
                "operationId": "GET/applicationMembershipId/api_credential",
                "summary": "Related application membership",
                "description": "Related application membership",
                "tags": [
                    "api_credentials",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The api_credential associated to the application membership"
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}/membership": {
            "get": {
                "operationId": "GET/applicationMembershipId/membership",
                "summary": "Related application membership",
                "description": "Related application membership",
                "tags": [
                    "memberships",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The membership associated to the application membership"
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}/membership_profile": {
            "get": {
                "operationId": "GET/applicationMembershipId/membership_profile",
                "summary": "Related application membership",
                "description": "Related application membership",
                "tags": [
                    "membership_profiles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The membership_profile associated to the application membership"
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}/organization": {
            "get": {
                "operationId": "GET/applicationMembershipId/organization",
                "summary": "Related application membership",
                "description": "Related application membership",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the application membership"
                    }
                }
            }
        },
        "/application_memberships/{applicationMembershipId}/role": {
            "get": {
                "operationId": "GET/applicationMembershipId/role",
                "summary": "Related application membership",
                "description": "Related application membership",
                "tags": [
                    "roles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "applicationMembershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The role associated to the application membership"
                    }
                }
            }
        },
        "/identity_providers": {
            "post": {
                "operationId": "POST/identity_providers",
                "summary": "Creates an identity provider",
                "description": "Creates an identity provider",
                "tags": [
                    "identity_providers"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/identityProviderCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created identity provider object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/identityProviderResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/identity_providers",
                "summary": "List all identity providers",
                "description": "List all identity providers",
                "tags": [
                    "identity_providers"
                ],
                "responses": {
                    "200": {
                        "description": "A list of identity provider objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/identityProviderResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/identity_providers/{identityProviderId}": {
            "get": {
                "operationId": "GET/identity_providers/identityProviderId",
                "summary": "Retrieve an identity provider",
                "description": "Retrieve an identity provider",
                "parameters": [
                    {
                        "name": "identityProviderId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "identity_providers"
                ],
                "responses": {
                    "200": {
                        "description": "The identity provider object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/identityProviderResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/identity_providers/identityProviderId",
                "summary": "Updates an identity provider",
                "description": "Updates an identity provider",
                "tags": [
                    "identity_providers"
                ],
                "parameters": [
                    {
                        "name": "identityProviderId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/identityProviderUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated identity provider object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/identityProviderResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/identity_providers/identityProviderId",
                "summary": "Delete an identity provider",
                "description": "Delete an identity provider",
                "tags": [
                    "identity_providers"
                ],
                "parameters": [
                    {
                        "name": "identityProviderId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/identity_providers/{identityProviderId}/user": {
            "get": {
                "operationId": "GET/identityProviderId/user",
                "summary": "Related identity provider",
                "description": "Related identity provider",
                "tags": [
                    "users",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "identityProviderId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user associated to the identity provider"
                    }
                }
            }
        },
        "/memberships": {
            "post": {
                "operationId": "POST/memberships",
                "summary": "Creates an membership",
                "description": "Creates an membership",
                "tags": [
                    "memberships"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/membershipCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/memberships",
                "summary": "List all memberships",
                "description": "List all memberships",
                "tags": [
                    "memberships"
                ],
                "responses": {
                    "200": {
                        "description": "A list of membership objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/memberships/{membershipId}": {
            "get": {
                "operationId": "GET/memberships/membershipId",
                "summary": "Retrieve an membership",
                "description": "Retrieve an membership",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "memberships"
                ],
                "responses": {
                    "200": {
                        "description": "The membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/memberships/membershipId",
                "summary": "Updates an membership",
                "description": "Updates an membership",
                "tags": [
                    "memberships"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/membershipUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated membership object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/memberships/membershipId",
                "summary": "Delete an membership",
                "description": "Delete an membership",
                "tags": [
                    "memberships"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/memberships/{membershipId}/resend": {
            "post": {
                "operationId": "POST/memberships/membershipId/resend",
                "summary": "Resend invitation",
                "description": "Resend invitation for the given membership",
                "tags": [
                    "memberships"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {}
                    }
                },
                "responses": {
                    "202": {
                        "description": "Confirmation that the invitation has been sent",
                        "content": {}
                    }
                }
            }
        },
        "/memberships/{membershipId}/organization": {
            "get": {
                "operationId": "GET/membershipId/organization",
                "summary": "Related membership",
                "description": "Related membership",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the membership"
                    }
                }
            }
        },
        "/memberships/{membershipId}/role": {
            "get": {
                "operationId": "GET/membershipId/role",
                "summary": "Related membership",
                "description": "Related membership",
                "tags": [
                    "roles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The role associated to the membership"
                    }
                }
            }
        },
        "/memberships/{membershipId}/application_memberships": {
            "get": {
                "operationId": "GET/membershipId/application_memberships",
                "summary": "Related membership",
                "description": "Related membership",
                "tags": [
                    "application_memberships",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The application_memberships associated to the membership"
                    }
                }
            }
        },
        "/memberships/{membershipId}/membership_profile": {
            "get": {
                "operationId": "GET/membershipId/membership_profile",
                "summary": "Related membership",
                "description": "Related membership",
                "tags": [
                    "membership_profiles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The membership_profile associated to the membership"
                    }
                }
            }
        },
        "/memberships/{membershipId}/versions": {
            "get": {
                "operationId": "GET/membershipId/versions",
                "summary": "Related membership",
                "description": "Related membership",
                "tags": [
                    "versions",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The versions associated to the membership"
                    }
                }
            }
        },
        "/membership_profiles": {
            "post": {
                "operationId": "POST/membership_profiles",
                "summary": "Creates an membership profile",
                "description": "Creates an membership profile",
                "tags": [
                    "membership_profiles"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/membershipProfileCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created membership profile object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipProfileResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/membership_profiles",
                "summary": "List all membership profiles",
                "description": "List all membership profiles",
                "tags": [
                    "membership_profiles"
                ],
                "responses": {
                    "200": {
                        "description": "A list of membership profile objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipProfileResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/membership_profiles/{membershipProfileId}": {
            "get": {
                "operationId": "GET/membership_profiles/membershipProfileId",
                "summary": "Retrieve an membership profile",
                "description": "Retrieve an membership profile",
                "parameters": [
                    {
                        "name": "membershipProfileId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "membership_profiles"
                ],
                "responses": {
                    "200": {
                        "description": "The membership profile object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipProfileResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/membership_profiles/membershipProfileId",
                "summary": "Updates an membership profile",
                "description": "Updates an membership profile",
                "tags": [
                    "membership_profiles"
                ],
                "parameters": [
                    {
                        "name": "membershipProfileId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/membershipProfileUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated membership profile object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/membershipProfileResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/membership_profiles/membershipProfileId",
                "summary": "Delete an membership profile",
                "description": "Delete an membership profile",
                "tags": [
                    "membership_profiles"
                ],
                "parameters": [
                    {
                        "name": "membershipProfileId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/membership_profiles/{membershipProfileId}/organization": {
            "get": {
                "operationId": "GET/membershipProfileId/organization",
                "summary": "Related membership profile",
                "description": "Related membership profile",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "membershipProfileId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the membership profile"
                    }
                }
            }
        },
        "/membership_profiles/{membershipProfileId}/application_memberships": {
            "get": {
                "operationId": "GET/membershipProfileId/application_memberships",
                "summary": "Related membership profile",
                "description": "Related membership profile",
                "tags": [
                    "application_memberships",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "membershipProfileId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The application_memberships associated to the membership profile"
                    }
                }
            }
        },
        "/organizations": {
            "post": {
                "operationId": "POST/organizations",
                "summary": "Creates an organization",
                "description": "Creates an organization",
                "tags": [
                    "organizations"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created organization object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/organizations",
                "summary": "List all organizations",
                "description": "List all organizations",
                "tags": [
                    "organizations"
                ],
                "responses": {
                    "200": {
                        "description": "A list of organization objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationId}": {
            "get": {
                "operationId": "GET/organizations/organizationId",
                "summary": "Retrieve an organization",
                "description": "Retrieve an organization",
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "organizations"
                ],
                "responses": {
                    "200": {
                        "description": "The organization object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/organizations/organizationId",
                "summary": "Updates an organization",
                "description": "Updates an organization",
                "tags": [
                    "organizations"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated organization object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{organizationId}/transfer_ownership": {
            "patch": {
                "operationId": "PATCH/organizations/organizationId/transfer_ownership",
                "summary": "Transfer ownership of an organization",
                "description": "Transfers the ownership of an organization to a new owner",
                "tags": [
                    "organizations"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "required": [
                                    "data"
                                ],
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "required": [
                                            "type",
                                            "id",
                                            "attributes"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "description": "The resource's type.",
                                                "enum": [
                                                    "organizations"
                                                ]
                                            },
                                            "id": {
                                                "type": "string",
                                                "description": "The ID of the resource.",
                                                "example": "XGZwpOSrWL"
                                            },
                                            "attributes": {
                                                "type": "object",
                                                "properties": {
                                                    "new_owner_email": {
                                                        "type": "string",
                                                        "description": "The user email of the new owner of the organization.",
                                                        "example": "test@commercelayer.io",
                                                        "nullable": false
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "The confirmation of the transfer ownership",
                        "content": {}
                    }
                }
            }
        },
        "/organizations/{organizationId}/memberships": {
            "get": {
                "operationId": "GET/organizationId/memberships",
                "summary": "Related organization",
                "description": "Related organization",
                "tags": [
                    "memberships",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The memberships associated to the organization"
                    }
                }
            }
        },
        "/organizations/{organizationId}/roles": {
            "get": {
                "operationId": "GET/organizationId/roles",
                "summary": "Related organization",
                "description": "Related organization",
                "tags": [
                    "roles",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The roles associated to the organization"
                    }
                }
            }
        },
        "/organizations/{organizationId}/permissions": {
            "get": {
                "operationId": "GET/organizationId/permissions",
                "summary": "Related organization",
                "description": "Related organization",
                "tags": [
                    "permissions",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The permissions associated to the organization"
                    }
                }
            }
        },
        "/organizations/{organizationId}/api_credentials": {
            "get": {
                "operationId": "GET/organizationId/api_credentials",
                "summary": "Related organization",
                "description": "Related organization",
                "tags": [
                    "api_credentials",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The api_credentials associated to the organization"
                    }
                }
            }
        },
        "/permissions": {
            "post": {
                "operationId": "POST/permissions",
                "summary": "Creates an permission",
                "description": "Creates an permission",
                "tags": [
                    "permissions"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/permissionCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created permission object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permissionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/permissions",
                "summary": "List all permissions",
                "description": "List all permissions",
                "tags": [
                    "permissions"
                ],
                "responses": {
                    "200": {
                        "description": "A list of permission objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permissionResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/permissions/{permissionId}": {
            "get": {
                "operationId": "GET/permissions/permissionId",
                "summary": "Retrieve an permission",
                "description": "Retrieve an permission",
                "parameters": [
                    {
                        "name": "permissionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "permissions"
                ],
                "responses": {
                    "200": {
                        "description": "The permission object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permissionResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/permissions/permissionId",
                "summary": "Updates an permission",
                "description": "Updates an permission",
                "tags": [
                    "permissions"
                ],
                "parameters": [
                    {
                        "name": "permissionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/permissionUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated permission object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/permissionResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/permissions/{permissionId}/organization": {
            "get": {
                "operationId": "GET/permissionId/organization",
                "summary": "Related permission",
                "description": "Related permission",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "permissionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the permission"
                    }
                }
            }
        },
        "/permissions/{permissionId}/role": {
            "get": {
                "operationId": "GET/permissionId/role",
                "summary": "Related permission",
                "description": "Related permission",
                "tags": [
                    "roles",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "permissionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The role associated to the permission"
                    }
                }
            }
        },
        "/permissions/{permissionId}/versions": {
            "get": {
                "operationId": "GET/permissionId/versions",
                "summary": "Related permission",
                "description": "Related permission",
                "tags": [
                    "versions",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "permissionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The versions associated to the permission"
                    }
                }
            }
        },
        "/roles": {
            "post": {
                "operationId": "POST/roles",
                "summary": "Creates an role",
                "description": "Creates an role",
                "tags": [
                    "roles"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/roleCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created role object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/roleResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "GET/roles",
                "summary": "List all roles",
                "description": "List all roles",
                "tags": [
                    "roles"
                ],
                "responses": {
                    "200": {
                        "description": "A list of role objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/roleResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/roles/{roleId}": {
            "get": {
                "operationId": "GET/roles/roleId",
                "summary": "Retrieve an role",
                "description": "Retrieve an role",
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "roles"
                ],
                "responses": {
                    "200": {
                        "description": "The role object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/roleResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/roles/roleId",
                "summary": "Updates an role",
                "description": "Updates an role",
                "tags": [
                    "roles"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/roleUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated role object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/roleResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/roles/{roleId}/organization": {
            "get": {
                "operationId": "GET/roleId/organization",
                "summary": "Related role",
                "description": "Related role",
                "tags": [
                    "organizations",
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The organization associated to the role"
                    }
                }
            }
        },
        "/roles/{roleId}/permissions": {
            "get": {
                "operationId": "GET/roleId/permissions",
                "summary": "Related role",
                "description": "Related role",
                "tags": [
                    "permissions",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The permissions associated to the role"
                    }
                }
            }
        },
        "/roles/{roleId}/memberships": {
            "get": {
                "operationId": "GET/roleId/memberships",
                "summary": "Related role",
                "description": "Related role",
                "tags": [
                    "memberships",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The memberships associated to the role"
                    }
                }
            }
        },
        "/roles/{roleId}/api_credentials": {
            "get": {
                "operationId": "GET/roleId/api_credentials",
                "summary": "Related role",
                "description": "Related role",
                "tags": [
                    "api_credentials",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The api_credentials associated to the role"
                    }
                }
            }
        },
        "/roles/{roleId}/versions": {
            "get": {
                "operationId": "GET/roleId/versions",
                "summary": "Related role",
                "description": "Related role",
                "tags": [
                    "versions",
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "roleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The versions associated to the role"
                    }
                }
            }
        },
        "/user": {
            "get": {
                "operationId": "GET/user",
                "summary": "Retrieve an user",
                "description": "Retrieve an user",
                "parameters": [],
                "tags": [
                    "user",
                    "singleton"
                ],
                "responses": {
                    "200": {
                        "description": "The user object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/userResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/user",
                "summary": "Updates an user",
                "description": "Updates an user",
                "tags": [
                    "user",
                    "singleton"
                ],
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/userUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated user object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/userResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/versions": {
            "get": {
                "operationId": "GET/versions",
                "summary": "List all versions",
                "description": "List all versions",
                "tags": [
                    "versions"
                ],
                "responses": {
                    "200": {
                        "description": "A list of version objects",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionResponseList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/versions/{versionId}": {
            "get": {
                "operationId": "GET/versions/versionId",
                "summary": "Retrieve an version",
                "description": "Retrieve an version",
                "parameters": [
                    {
                        "name": "versionId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The ID of the resource."
                    }
                ],
                "tags": [
                    "versions"
                ],
                "responses": {
                    "200": {
                        "description": "The version object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "apiCredential": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "type",
                            "attributes"
                        ],
                        "properties": {
                            "type": {
                                "type": "string",
                                "description": "The resource's type.",
                                "enum": [
                                    "api_credentials"
                                ]
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The API credential internal name.",
                                        "example": "My app",
                                        "nullable": false
                                    },
                                    "kind": {
                                        "type": "string",
                                        "description": "The API credential kind, can be one of: `webapp`, `sales_channel`, `integration` or the kind of app you want to fork (e.g. `orders`, `imports`, etc.).",
                                        "example": "sales_channel",
                                        "nullable": false
                                    },
                                    "confidential": {
                                        "type": "boolean",
                                        "description": "Indicates if the API credential it's confidential.",
                                        "example": true,
                                        "readOnly": true
                                    },
                                    "redirect_uri": {
                                        "type": "string",
                                        "description": "The API credential redirect URI.",
                                        "example": "https://bluebrand.com/img/logo.svg",
                                        "nullable": true
                                    },
                                    "client_id": {
                                        "type": "string",
                                        "description": "The API credential unique ID.",
                                        "example": "xxxx-yyyy-zzzz",
                                        "readOnly": true
                                    },
                                    "client_secret": {
                                        "type": "string",
                                        "description": "The API credential unique secret.",
                                        "example": "xxxx-yyyy-zzzz",
                                        "readOnly": true
                                    },
                                    "scopes": {
                                        "type": "string",
                                        "description": "The API credential scopes.",
                                        "example": "market:all market:9 market:122 market:6 stock_location:6 stock_location:33",
                                        "readOnly": true
                                    },
                                    "expires_in": {
                                        "type": "integer",
                                        "description": "The lifetime of the access token in seconds (min. `7200`, max. `31536000`. Default is `14400` for Sales channels and `7200` for other client types).",
                                        "example": 7200,
                                        "nullable": true
                                    },
                                    "mode": {
                                        "type": "string",
                                        "description": "Indicates the environment the resource belongs to (one of `test` or `live`).",
                                        "example": "test",
                                        "nullable": true
                                    },
                                    "custom": {
                                        "type": "boolean",
                                        "description": "Indicates if the API credential is used to create a custom app (e.g. fork a hosted app).",
                                        "example": false,
                                        "nullable": true
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "description": "Time at which the resource was created.",
                                        "example": "2018-01-01T12:00:00.000Z",
                                        "readOnly": true
                                    },
                                    "updated_at": {
                                        "type": "string",
                                        "description": "Time at which the resource was last updated.",
                                        "example": "2018-01-01T12:00:00.000Z",
                                        "readOnly": true
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.",
                                        "example": "ANY-EXTERNAL-REFEFERNCE",
                                        "nullable": true
                                    },
                                    "reference_origin": {
                                        "type": "string",
                                        "description": "Any identifier of the third party system that defines the reference code.",
                                        "example": "ANY-EXTERNAL-REFEFERNCE-ORIGIN",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "description": "Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.",
                                        "example": {
                                            "foo": "bar"
                                        },
                                        "nullable": true
                                    }
                                }
                            },
                            "relationships": {
                                "type": "object",
                                "properties": {
                                    "organization": {
                                        "type": "object",
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "description": "The resource's type.",
                                                        "enum": [
                                                            "organizations"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "description": "The ID of the resource.",
                                                        "example": "XGZwpOSrWL"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "role": {
                                        "type": "object",
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "description": "The resource's type.",
                                                        "enum": [
                                                            "roles"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "description": "The ID of the resource.",
                                                        "example": "XGZwpOSrWL"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "apiCredentialCreate": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "type",
                            "attributes"
                        ],
                        "properties": {
                            "type": {
                                "type": "string",
                                "description": "The resource's type.",
                                "enum": [
                                    "api_credentials"
                                ]
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The API credential internal name.",
                                        "example": "My app"
                                    },
                                    "kind": {
                                        "type": "string",
                                        "description": "The API credential kind, can be one of: `webapp`, `sales_channel`, `integration` or the kind of app you want to fork (e.g. `orders`, `imports`, etc.).",
                                        "example": "sales_channel"
                                    },
                                    "redirect_uri": {
                                        "type": "string",
                                        "description": "The API credential redirect URI.",
                                        "example": "https://bluebrand.com/img/logo.svg"
                                    },
                                    "expires_in": {
                                        "type": "integer",
                                        "description": "The lifetime of the access token in seconds (min. `7200`, max. `31536000`. Default is `14400` for Sales channels and `7200` for other client types).",
                                        "example": 7200
                                    },
                                    "mode": {
                                        "type": "string",
                                        "description": "Indicates the environment the resource belongs to (one of `test` or `live`).",
                                        "example": "test"
                                    },
                                    "custom": {
                                        "type": "boolean",
                                        "description": "Indicates if the API credential is used to create a custom app (e.g. fork a hosted app).",
                                        "example": false
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.",
                                        "example": "ANY-EXTERNAL-REFEFERNCE"
                                    },
                                    "reference_origin": {
                                        "type": "string",
                                        "description": "Any identifier of the third party system that defines the reference code.",
                                        "example": "ANY-EXTERNAL-REFEFERNCE-ORIGIN"
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "description": "Set of key-value pairs that you can attach to the resource. This can be useful for storing additional information about the resource in a structured format.",
                                        "example": {
                                            "foo": "bar"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "kind"
                                ]
                            },
                            "relationships": {
                                "type": "object",
                                "properties": {
                                    "organization": {
                                        "required": [
                                            "data"
                                        ],
                                        "type": "object",
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "description": "The resource's type.",
                                                        "enum": [
                                                            "organizations"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "description": "The ID of the resource.",
                                                        "example": "XGZwpOSrWL"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "role": {
                                        "required": [
                                            "data"
                                        ],
                                        "type": "object",
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "description": "The resource's type.",
                                                        "enum": [
                                                            "roles"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "description": "The ID of the resource.",
                                                        "example": "XGZwpOSrWL"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "organization"
                                ]
                            }
                        }
                    }
                }
            },
            "apiCredentialUpdate": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "object",
                        "required": [
                            "type",
                            "id",
                            "attributes"
                        ],
                        "properties": {
                            "type": {
                                "type": "string",
                                "description": "The resource's type.",
                                "enum": [
                                    "api_credentials"
                                ]
                            },
                            "id": {
                                "type": "string",
                                "description": "The ID of the resource.",
                                "example": "XGZwpOSrWL"
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The API credential internal name.",
                                        "example": "My app",
                                        "nullable": false
                                    },
                                    "redirect_uri": {
                                        "type": "string",
                                        "description": "The API credential redirect URI.",
                                        "example": "https://bluebrand.com/img/logo.svg",
                                        "nullable": true
                                    },
                                    "expires_in": {
                                        "type": "integer",
                                        "description": "The lifetime of the access token in seconds (min. `7200`, max. `31536000`. Default is `14400` for Sales channels and `7200` for other client types).",
                                        "example": 7200,
                                        "nullable": true
                                    },
                                    "reference": {
                                        "type": "string",
                                        "description": "A string that you can use to add any external identifier to the resource. This can be useful for integrating the resource to an external system, like an ERP, a marketing tool, a CRM, or whatever.",
                                        "example": "ANY-EXTERNAL-REFEFERNCE",
                                        "nullable": true
                                    },
                                    "reference_origin": {
                                        "type": "string",
[...]
